<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.rad.shipment.calculator">

    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_uml_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_uml_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MenuActivityView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ReferenceActivityView" />
        <activity android:name=".view.ShipmentActivityView" />
        <activity android:name=".view.AddActivityView"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>
        <activity android:name=".view.EditActivityView"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth"/>
    </application>

</manifest>